{# templates/admin/planner/subjects.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Subject Management{% endblock %}

{% block main %}
    <div class="alert alert-info">
        Use the EasyAdmin interface above to manage academic subjects.
    </div>
{% endblock %}