{# templates/admin/planner/subjects.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Gestion des Matières{% endblock %}

{% block main %}
    <div class="alert alert-info">
        Utilisez l'interface EasyAdmin ci-dessus pour gérer les matières académiques.
    </div>
{% endblock %}